<ion-header [translucent]="true">
  <ion-toolbar class="dashboard-toolbar" color="primary">
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class="new-container">
  <!-- <ion-list *ngFor="let news of newsData">
      <ion-item >
        <IonCard>
          <ion-img [src]=[news?.urlToImage] class="newsImage" ></ion-img>
          <ion-grid>
            <ion-row class="newsTitle">{{news?.title}}</ion-row>
            <ion-row class="newsSource">
              <ion-col>{{news?.source?.name}}</ion-col>
              <ion-col>{{trimSourceDetails(news?.author)}}</ion-col>
            </ion-row>
            <ion-row class="newsContent">{{news?.description}}</ion-row>
          </ion-grid>
        </IonCard>
      </ion-item>
 </ion-list> -->
 </div>
</ion-content>
